body {
	font-family: Meiryo;
	text-align: center;  
}

#counter{
	font-size:300px;
	color:red;
}

button[type="button"] {
	font-size:50px;
}

#reset{
	position: relative;
	top:50px;
}

#speaker{ position:absolute; bottom:0%; left:0%; }